@import url("https://fonts.googleapis.com/css?family=Raleway:200,500,700");
/* line 14, /Users/Lucy/turing/3module/projects/international_space_station/app/assets/stylesheets/application.scss */
.white {
  color: #43A49B;
  font-weight: 500;
}

/* line 19, /Users/Lucy/turing/3module/projects/international_space_station/app/assets/stylesheets/application.scss */
.dandelion {
  color: #FFDC6A;
}

/* line 24, /Users/Lucy/turing/3module/projects/international_space_station/app/assets/stylesheets/application.scss */
h1 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: white;
  font-weight: 500;
}

/* line 31, /Users/Lucy/turing/3module/projects/international_space_station/app/assets/stylesheets/application.scss */
h3 {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 200;
}

/* line 37, /Users/Lucy/turing/3module/projects/international_space_station/app/assets/stylesheets/application.scss */
#enter-zipcode form h3 {
  color: #80ABD9;
  display: inline-block;
}

/* line 42, /Users/Lucy/turing/3module/projects/international_space_station/app/assets/stylesheets/application.scss */
#send-text form h3 {
  color: #80ABD9;
  display: inline-block;
}

/* line 47, /Users/Lucy/turing/3module/projects/international_space_station/app/assets/stylesheets/application.scss */
#next-passover h3 {
  color: #80ABD9;
  display: inline-block;
}

/* line 52, /Users/Lucy/turing/3module/projects/international_space_station/app/assets/stylesheets/application.scss */
#text-confirmation h3 {
  color: #80ABD9;
  display: inline-block;
}

/* line 57, /Users/Lucy/turing/3module/projects/international_space_station/app/assets/stylesheets/application.scss */
section.footer p {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  text-align: center;
}

/* line 63, /Users/Lucy/turing/3module/projects/international_space_station/app/assets/stylesheets/application.scss */
section.footer p a {
  text-decoration: none;
  color: #80ABD9;
}

/* line 68, /Users/Lucy/turing/3module/projects/international_space_station/app/assets/stylesheets/application.scss */
section.footer p a:hover {
  text-decoration: none;
  color: #FFDC6A;
  border-bottom: 1px solid #FFDC6A;
}

/* line 74, /Users/Lucy/turing/3module/projects/international_space_station/app/assets/stylesheets/application.scss */
body {
  background-color: #142448;
  margin: 0;
  padding: 0;
}

/* line 80, /Users/Lucy/turing/3module/projects/international_space_station/app/assets/stylesheets/application.scss */
svg {
  background-color: #5572B3;
}

/* line 84, /Users/Lucy/turing/3module/projects/international_space_station/app/assets/stylesheets/application.scss */
g.land {
  fill: #688CC4;
  stroke: #80ABD9;
  stroke-alignment: inside;
}

/* line 90, /Users/Lucy/turing/3module/projects/international_space_station/app/assets/stylesheets/application.scss */
g.boundary {
  fill: none;
  stroke: rgba(255, 255, 255, 0.25);
  stroke-alignment: inside;
}

/* line 96, /Users/Lucy/turing/3module/projects/international_space_station/app/assets/stylesheets/application.scss */
#header {
  background-color: #142448;
  width: 100%;
  padding: 5px;
  position: absolute;
  top: 0;
  opacity: 0.8;
  text-align: center;
}

/* line 106, /Users/Lucy/turing/3module/projects/international_space_station/app/assets/stylesheets/application.scss */
#enter-zipcode, #send-text {
  background-color: dogerblue;
  padding: 25px;
}

/* line 111, /Users/Lucy/turing/3module/projects/international_space_station/app/assets/stylesheets/application.scss */
#next-passover, #text-confirmation {
  background-color: #111E3A;
  padding: 25px;
}

/* line 116, /Users/Lucy/turing/3module/projects/international_space_station/app/assets/stylesheets/application.scss */
section.footer {
  background-color: #111E3A;
  padding-top: 80px;
  height: 100px;
  color: #688CC4;
}

/* line 124, /Users/Lucy/turing/3module/projects/international_space_station/app/assets/stylesheets/application.scss */
input[type="text"] {
  background-color: #142448;
  padding: 10px;
  border: none;
  border-bottom: solid 2px #5572B3;
  transition: border 0.3s;
  color: #43A49B;
  display: inline-block;
  margin: 0;
  width: 150px;
  font-family: "Raleway", sans-serif;
  font-size: 23px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -ms-border-radius: none;
  -o-border-radius: none;
  border-radius: none;
}

/* line 149, /Users/Lucy/turing/3module/projects/international_space_station/app/assets/stylesheets/application.scss */
input[type="text"].phone-number {
  width: 220px;
}

/* line 153, /Users/Lucy/turing/3module/projects/international_space_station/app/assets/stylesheets/application.scss */
input[type="text"]:focus {
  outline: none;
}

/* line 157, /Users/Lucy/turing/3module/projects/international_space_station/app/assets/stylesheets/application.scss */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #5572B3;
}

/* line 160, /Users/Lucy/turing/3module/projects/international_space_station/app/assets/stylesheets/application.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: #5572B3;
}

/* line 163, /Users/Lucy/turing/3module/projects/international_space_station/app/assets/stylesheets/application.scss */
:-ms-input-placeholder {
  /* IE 10+ */
  color: #5572B3;
}

/* line 166, /Users/Lucy/turing/3module/projects/international_space_station/app/assets/stylesheets/application.scss */
:-moz-placeholder {
  /* Firefox 18- */
  color: #5572B3;
}

/* line 171, /Users/Lucy/turing/3module/projects/international_space_station/app/assets/stylesheets/application.scss */
circle {
  fill: #FFDC6A;
  z-index: 999;
  transform-origin: 8px 8px;
  -webkit-transform-origin: 50% 50%;
}

/* line 178, /Users/Lucy/turing/3module/projects/international_space_station/app/assets/stylesheets/application.scss */
button {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 0;
  border: 2px solid #5572B3;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0);
  color: #5572B3;
  font-weight: 500;
  margin-left: 20px;
}

/* line 191, /Users/Lucy/turing/3module/projects/international_space_station/app/assets/stylesheets/application.scss */
button:hover {
  text-decoration: none;
  color: #43A49B;
  border-color: #43A49B;
}

/* line 197, /Users/Lucy/turing/3module/projects/international_space_station/app/assets/stylesheets/application.scss */
.hidden {
  display: none;
}
