body {
  background-color: #142448;
  margin: 0;
  padding: 0;
}

svg {
	background-color: #5572B3;
}

g.land {
  fill: #688CC4;
  stroke: #80ABD9;
  stroke-alignment: inside;
}

g.boundary {
  fill: none;
  stroke: rgba(255,255,255,0.25);
  stroke-alignment: inside;
}

#header {
  background-color: #142448;
  padding: 25px;
}

#enter-zipcode {
  background-color: dogerblue;
  padding: 25px;
}

#next-passover {
  background-color: steelblue;
  padding: 25px;
}

#send-text {
  background-color: dogerblue;
  padding: 25px;
}
