h1 {
  font-family: $header-font;
  font-size: 36px;
  color: $jordy-blue;
  font-weight: 400;
  text-transform: uppercase;
}

h3 {
  font-family: $header-font;
  font-size: 26px;
}

#enter-zipcode form h3 {
  color: $jordy-blue;
  display: inline-block;
}

#send-text form h3 {
  color: $jordy-blue;
  display: inline-block;
}

#next-passover h3 {
  color: $jordy-blue;
  display: inline-block;
}

section.footer p {
  font-family: $body-font;
  font-size: 14px;
  text-align: center;
}
